
forSamira/.DS_Store
forSamira/index.html
forSamira/icon/warning.png
forSamira/icon/purple-heart.png
forSamira/fonts/FontAwesome.otf
forSamira/fonts/fontawesome-webfont.woff2
forSamira/fonts/fontawesome-webfont.woff
forSamira/fonts/fontawesome-webfont.ttf
forSamira/fonts/fontawesome-webfont.svg
forSamira/fonts/fontawesome-webfont.eot
forSamira/css/style.css
forSamira/css/font-awesome.min.css
.DS_Store
